/* Corona Event Form Container */
.app-container2 {
    background-color: #f7f7f7;
    padding: 20px;
    max-width: 600px; /* Set max-width to limit the width of the form */
    margin: 0 auto; /* Center the form horizontally */
    border-radius: 25px;
  }
  
  /* Form Container */
  .form-container2 {
    width: 100%;
  }
  
  /* Form Group */
  .form-group2 {
    margin-bottom: 8px;
  }
  
  .form-group2 label {
    font-size: 12px;
    font-style: normal;
    display: block;
    color: #555;
    margin-bottom: 2px;
  }
  
  /* Input Field */
  .input-field2 {
    width: calc(100% - 22px); /* Set width to 100% minus padding and borders */
    padding: 7px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    transition: border-color 0.3s;
    font-size: 10px;
    opacity: 0.8;
  }
  
  .input-field2:focus {
    border-color: #4CAF50;
  }
  
  /* Submit Button */
  .submit-button2 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 40px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
    width: calc(100% - 9px); /* Set width to 100% minus padding and borders */
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .submit-button2:hover {
    background-color: #45a049;
  }
  